.Results h2 {
  font-size: 36px;
  font-weight: 600;
  color: #3B4A58;
}

.Phonetic {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #666;
  display: inline;
}

@media (max-width: 768px) {
  .definition {
    font-size: 18px;
  }
}
